{% extends "base.html" %}
{% load compress %}
{% load category_tags %}
{% load staticfiles %}
{% load i18n %}

{% block extrahead %}
    <script src="{% static "demo/js/modernizr/modernizr.js" %}" type="text/javascript" charset="utf-8"></script>    
    <!--[if lte IE 7]><script src="{% static "demo/fonts/lte-ie7.js" %}"></script><![endif]-->
{% endblock %}

{% block layout %}
    <div id="layout">
        <header class="header clearfix">

             <nav class="navbar navbar-wp " role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html" title="Boomerang | One template. Infinite solutions">
                            <img src="images/boomerang-logo-black.png" alt="Boomerang | One template. Infinite solutions">
                        </a>
                    </div>
                    <div >
                        <ul class="nav navbar-nav navbar-right">
                            <li >
                                <a href="/">Home</a>
                            </li>
                            <li >
                                <a href="/create">Create</a>
                            </li>
                        </ul>
                       
                    </div><!--/.nav-collapse -->
                </div>
            </nav>



            {% include "partials/nav_accounts.html" %}
            <div class="container-fluid">
                <div class="header-content">
                    <div>
                        {% block mini_basket %}<p><i class="icon-cart"></i>{% include "partials/mini_basket.html" %}</p>{% endblock %}
                    </div>
                 </div>
            </div>
        </header>

        {% block content_wrapper %}
        {% block page_promotions %}{% endblock %}   
        <div class="page">
            <div class="container-fluid">
                <div class="page_inner">
                    {% block breadcrumbs %}{% endblock %}
                    {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                    {% endblock %}
                    {% include "partials/alert_messages.html" %}
                    {% block subnavigation %}{% endblock %}
                    <div class="content">
                        {% block subheader %}{% endblock subheader %}
                        
                        {# Div exists for AJAX updates to entire content section #}
                        <div id="content_inner">{% block content %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div id="faux-foot"></div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
{% compress js %}
    {% include "partials/extrascripts.html" %}
{% endcompress %}
{% endblock %}
